.footerContentSection {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff4d;
  width: 100%;
  padding-bottom: 4rem;
  margin-bottom: 1.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.title {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30.72px;
  letter-spacing: -2%;
  margin-bottom: 15px;
}

.footerContainerRow {
  display: flex;
  background: #300708 0% 0% no-repeat padding-box;
  color: #fff;
}

.app-download-section {
  display: none; /* default: hidden on extra small screens */
  width: 50%; /* fallback width (col-6 like behavior) */
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .app-download-section {
    display: block; /* show on md+ */
    width: 50%; /* col-md-6 → 50% width */
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .app-download-section {
    width: 33.33%; /* col-lg-4 → 1/3 width */
  }
}

.custom-col {
  width: 100%; /* col-12 → full width by default */
  padding: 0; /* p-0 → no padding */
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .custom-col {
    width: 66.66%; /* col-lg-8 → 8/12 columns */
  }
}

.follow-us-section {
  display: flex;
  column-gap: 20px;
}

.logo-section {
    margin: 1.5rem;
    padding: 1.5rem;
} 

.container {
      background: #300708 0% 0% no-repeat padding-box;
      border-radius: 12px;
      padding: 4rem 0;
      margin-left: 20px;
      margin-right: 20px;
      padding: 1.5rem;
      margin-top: 20px;
      overflow: hidden;
}

 .para {
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30.72px;
    letter-spacing: -2%;
    color: #fff;
    text-align: center;
  }


  
.footer-copyright-tex {
      font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: -1%;
    color: #fff;
    display: flex
;
    justify-content: space-between;
}

.footer-payment-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    border-bottom: 1px solid #ffffff4d;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-copyright-text {
    display: flex
;
    justify-content: space-between;
}

.content-footer-copy {
    display: flex
;
    flex-direction: row;
    gap: 15px;
}

.footer-copyright-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: -1%;
    color: #fff;
}