   {/* Slide 1 */}
        <SwiperSlide>
          <picture>
            <source
              media="(max-width: 768px)"
              srcSet="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwb3ca7843/homepage/HeroBanner/dailywear-mobile.jpg"
            />
            <img
              src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwb3ca7843/homepage/HeroBanner/dailywear-desktop1.jpg"
              style={imgStyle}
            />
          </picture>
        </SwiperSlide>

        {/* Slide 2 */}
        <SwiperSlide>
          <picture>
            <source
              media="(max-width: 768px)"
              srcSet="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw1fc6a80f/homepage/HeroBanner/radiance-in-rhythm-mobile.jpg"
            />
            <img
              src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw1fc6a80f/homepage/HeroBanner/radiance-in-rhythm-desktop.jpg"
              style={imgStyle}
            />
          </picture>
        </SwiperSlide>

        {/* Slide 3 */}
        <SwiperSlide>
          <picture>
            <source
              media="(max-width: 768px)"
              srcSet="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwe29c0ff4/homepage/HeroBanner/sachin-exchange-mobile.jpg"
            />
            <img
              src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwe29c0ff4/homepage/HeroBanner/sachin-exchange-desktop-pdt.jpg"
              style={imgStyle}
            />
          </picture>
        </SwiperSlide>